<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Seraf Dos Santos</string>
	<key>Builder Version</key>
	<string>7534.52.7</string>
	<key>CFBundleDisplayName</key>
	<string>KitScript</string>
	<key>CFBundleIdentifier</key>
	<string>com.cyb3rca.safari.kitScript</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1</string>
	<key>CFBundleVersion</key>
	<string>0.1</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<real>10485760</real>
		<key>Global Page</key>
		<string>markups/MainPanel.html</string>
		<key>Menus</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>KS_M1</string>
				<key>Menu Items</key>
				<array>
					<dict>
						<key>Checked State</key>
						<real>1</real>
						<key>Command</key>
						<string>toggle_enable</string>
						<key>Identifier</key>
						<string>KS_MI1</string>
						<key>Title</key>
						<string>Enabled</string>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>KS_MI2</string>
						<key>Separator</key>
						<true/>
					</dict>
					<dict>
						<key>Disabled</key>
						<true/>
						<key>Identifier</key>
						<string>KS_MI3</string>
						<key>Title</key>
						<string>No Scripts for this URL</string>
					</dict>
				</array>
			</dict>
		</array>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>open_tab</string>
				<key>Identifier</key>
				<string>KS_TI1</string>
				<key>Image</key>
				<string>images/cog.png</string>
				<key>Label</key>
				<string>KitScript</string>
				<key>Menu</key>
				<string>KS_M1</string>
				<key>Palette Label</key>
				<string>KitScript</string>
				<key>Popover</key>
				<string>KS_PMP1</string>
				<key>Tool Tip</key>
				<string>KitScript Functions Access</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict/>
	</dict>
	<key>Description</key>
	<string>A User Script Manager For Safari.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://latest.kitscript.com/manifest.plist</string>
	<key>Website</key>
	<string>http://www.kitscript.com/</string>
</dict>
</plist>
